.info{
	width:780px;
	margin:auto;
	font-size:16px;
}
.image{
	height:200px;
}
.infodetail{
	float:left;
}
.imagedetail{
	float:right;
	height:150px;
}
.obj{
	float:left;
}
.aca{
	float:left;
}
.tec{
	float:left;
}
.pro{
	float:left;
}
